/* Debug Ghost CSS Elements */ /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* main */
main {
  flex: auto;
  background-color: #f6f6f6;
}

.container {
  padding: 50px 20px;
}
.container__title {
  font-family: Shrikhand;
  font-size: 1.7em;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes hide {
  0% {
    top: -30px;
  }
  20% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: -30px;
  }
}
@keyframes hide {
  0% {
    top: -30px;
  }
  20% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: -30px;
  }
}
@-webkit-keyframes movein {
  0% {
    transform: translateX(59px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes movein {
  0% {
    transform: translateX(59px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes moveout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(59px);
  }
}
@keyframes moveout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(59px);
  }
}
@-webkit-keyframes gradient {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    background: linear-gradient(355deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  100% {
    -webkit-clip-path: circle(125%);
            clip-path: circle(125%);
    background: linear-gradient(355deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
}
@keyframes gradient {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    background: linear-gradient(355deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  100% {
    -webkit-clip-path: circle(125%);
            clip-path: circle(125%);
    background: linear-gradient(355deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
}
/* header */
.header {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.header i {
  font-size: 1.2em;
  margin-left: 30px;
  color: #353535;
}
.header a {
  color: #9356DC;
}
.header img {
  width: 50%;
  max-width: 170px;
  margin: auto;
}
@media (max-width: 599px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}
.header__title {
  font-family: Shrikhand;
  font-size: 1.7em;
  margin: 0 0 20px 18px;
}
.header__list {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}
.header__elements {
  width: 100px;
  text-align: center;
}

.nav-link {
  position: relative;
}

footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
footer div {
  font-family: Shrikhand;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  padding: 3px;
}
footer span {
  width: 20px;
  display: inline-block;
  font-size: 0.8em;
}
footer a {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-auto-rows: 16rem;
  gap: 1.1em;
  margin-top: 30px;
}

/* modal */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  border-radius: 25px;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 8px 15px;
  color: white;
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in-out;
}
.btn--red {
  background: linear-gradient(355deg, red, #FF79DA);
  font-weight: 700;
}
.btn:hover {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translate3d(0, -2px, 0);
}
.btn:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translate3d(0, 2px, 0);
}

.alert {
  position: fixed;
  background: #FF79DA;
  color: white;
  top: -30px;
  left: calc(50% - 200px);
  width: 400px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 0 0 10px 10px;
  -webkit-animation: hide 3s forwards;
          animation: hide 3s forwards;
  z-index: 22;
}

.cart-quantity {
  position: absolute;
  top: -5px;
  right: -10px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: hotpink;
  font-size: 0.7em;
  color: white;
}

.container--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  background: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.form__title {
  background: #9356DC;
  color: white;
  font-family: Shrikhand;
  font-size: 1.2em;
}
.form > * {
  padding: 10px 20px;
  width: 100%;
}
@media (max-width: 599px) {
  .form {
    width: 100%;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input, .form-group select, .form-group textarea {
  min-height: 35px;
  font-size: 1em;
  margin: 1px 0;
  background: #f6f6f6;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  max-width: 100%;
}
.form-group--button > * {
  width: 100%;
  margin-bottom: 10px;
}
.form-group--checkbox {
  display: inline-block;
}
.form-group--checkbox input {
  height: 13px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.card {
  background-color: white;
  border-radius: 20px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in-out;
}
.card:hover {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translate3d(0, -2px, 0);
}
.card:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translate3d(0, 2px, 0);
}
.card__img {
  width: 100%;
  height: 10.9em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px 20px 0 0;
}
.card__caption {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__caption div > * {
  padding: 2px;
}
.card__link {
  color: black;
}
.card__link::after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: " ";
}
.card__badge {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: 13px;
  right: 11px;
  height: 29px;
  line-height: 29px;
  width: 80px;
  border-radius: 2px;
  font-size: 0.85em;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 0.2 4px 0 rgba(0, 0, 0, 0.25);
}
.card__title {
  font-family: Shrikhand;
  font-size: 1.4em;
}
.card__location {
  font-weight: 300;
}
.card__like {
  z-index: 2;
  color: black;
  font-size: 1.4em;
  cursor: pointer;
}
.card__like-btn--active {
  -webkit-clip-path: circle(125%);
          clip-path: circle(125%);
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.card__like:hover > .card__like-btn {
  -webkit-animation: gradient 1.5s forwards;
          animation: gradient 1.5s forwards;
}
.card__like:active > .card__like-btn {
  transform: scale(0.7);
}
.card--order {
  padding: 10px;
}
.card--order:hover {
  transform: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.container--localisation {
  text-align: center;
}
.container--localisation .city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  height: 50px;
}
.container--localisation .city span {
  width: 40px;
  display: inline-block;
}
.container--localisation .explore {
  padding: 40px;
}
.container--localisation .explore__title {
  font-size: 1.5em;
  font-weight: 700;
}
.container--localisation .explore__content {
  font-size: 1.1em;
  font-weight: 100;
  margin: 20px 0;
}

.container--fonctionnement {
  background-color: white;
}
.container--fonctionnement span {
  width: 30px;
  display: inline-block;
  color: #7e7e7e;
  font-size: 1.2em;
}
.container--fonctionnement .fonct-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-auto-rows: 5rem;
  gap: 0.9em;
  list-style: none;
  counter-reset: item;
  margin-top: 30px;
}
.container--fonctionnement .fonct-list__item {
  display: flex;
  align-items: center;
  margin-left: 12.5px;
  counter-increment: item;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.container--fonctionnement .fonct-list__item:hover {
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translate3d(0, -2px, 0);
}
.container--fonctionnement .fonct-list__item:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transform: translate3d(0, 2px, 0);
}
.container--fonctionnement .fonct-list__item:before {
  margin-left: -12.5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 0.8em;
  margin-right: 20px;
  content: counter(item);
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
  text-align: center;
  display: inline-block;
}
.container--fonctionnement .fonct-list__item--active {
  background-color: #f2eafb;
}
.container--fonctionnement .fonct-list__item--active span {
  color: #9356DC;
}

.container--carte {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}
.container--carte img {
  z-index: 1;
  width: 100%;
  max-height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  z-index: 2;
  width: 100%;
  background-color: #f6f6f6;
  flex: auto;
  margin-top: -30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}
.menu > * {
  margin: 10px 0;
}
.menu__bakery {
  display: flex;
  justify-content: space-between;
}
.menu__title {
  font-family: Shrikhand;
  font-size: 1.7em;
}
.menu__like {
  font-size: 1.7em;
  color: black;
  cursor: pointer;
}
.menu__like:hover > .card__like-btn {
  -webkit-animation: gradient 1.5s forwards;
          animation: gradient 1.5s forwards;
}
.menu__like:active > .card__like-btn {
  transform: scale(0.7);
}
.menu__info {
  font-weight: 300;
}
.menu__description {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0;
}
.menu__owner {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.menu__owner h2 {
  font-weight: 700;
  margin: 6px 0;
}
.menu__pastry-actions {
  display: flex;
  justify-content: space-around;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 10px;
  margin: 4px 0;
}
.menu__pastry-form {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.menu__pastry-form > * {
  margin: 5px 0;
  font-size: 1em;
}
.menu__column {
  position: relative;
}
.menu__column h2 {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  position: relative;
  margin: 20px 0;
}
.menu__column h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 3px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.menu__column .dishes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 60px;
  gap: 0.9em;
  list-style: none;
}
.menu__column .dishes-list__item {
  display: flex;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}
.menu__column .dishes-list__item:hover > .dishes-list__button {
  width: 59px;
  background-color: #99E2D0;
  color: white;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  -webkit-animation: movein 0.5s ease-out;
          animation: movein 0.5s ease-out;
}
.menu__column .dishes-list__item:hover > .dishes-list__button i {
  -webkit-animation: rotate 0.5s ease-out;
          animation: rotate 0.5s ease-out;
}
.menu__column .dishes-list__item:hover > .dishes-list__content {
  flex: unset;
  width: calc(100% - 59px);
}
.menu__column .dishes-list__item:hover .dishes-list__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__column .dishes-list__item:active > .dishes-list__button {
  width: 59px;
  background-color: #99E2D0;
  color: white;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  -webkit-animation: movein 0.5s ease-out;
          animation: movein 0.5s ease-out;
}
.menu__column .dishes-list__item:active > .dishes-list__button i {
  -webkit-animation: rotate 0.5s ease-out;
          animation: rotate 0.5s ease-out;
}
.menu__column .dishes-list__item:active > .dishes-list__content {
  flex: unset;
  width: calc(100% - 59px);
}
.menu__column .dishes-list__item:active .dishes-list__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__column .dishes-list__delete-item {
  text-decoration: none;
  font-size: 0.9em;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  border: none;
  transition: box-shadow 0.3s ease-in-out;
}
.menu__column .dishes-list__delete-item:active {
  transform: scale(110%);
}
.menu__column .dishes-list__delete-item:hover {
  opacity: 90%;
}
.menu__column .dishes-list__content {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  width: 100%;
  transition: all 0.5s ease-out;
}
.menu__column .dishes-list__text {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}
.menu__column .dishes-list__text p {
  font-size: 0.9em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__column .dishes-list__title {
  margin: 0 0 3px 0;
  width: 100%;
  font-weight: 500;
  font-size: 1.1em;
}
.menu__column .dishes-list__price {
  font-weight: 500;
  align-self: flex-end;
}
.menu__column .dishes-list__button {
  border: none;
  text-decoration: none;
  padding: 0;
  font-size: 0;
  border-radius: 0 15px 15px 0;
}
.menu__column .dishes-list__button:active {
  transform: scale(110%);
}

.cart {
  background-color: white;
  border-radius: 20px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.cart__item {
  background-color: #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}
.cart__content {
  flex: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.cart__info {
  display: flex;
  justify-content: space-around;
}
.cart__info > * {
  margin: 0 3px;
}
.cart__delete-item {
  text-decoration: none;
  font-size: 0.9em;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  border: none;
  transition: box-shadow 0.3s ease-in-out;
}
.cart__delete-item:active {
  transform: scale(110%);
}
.cart__delete-item:hover {
  opacity: 90%;
}

.order__subtitle {
  padding-bottom: 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.order__text {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.order__id {
  font-weight: 700;
  color: #9356DC;
}
.order__message {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  color: #7e7e7e;
}/*# sourceMappingURL=style.css.map */