
@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    top: -30px;
  }
  20% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: -30px;
  }
}

@keyframes movein {
  0% {
    transform: translateX(59px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(59px);
  }
}

@keyframes gradient {
  0% {
    clip-path: circle(0%);
    background: linear-gradient(355deg, $primaire-color, $secondaire-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  100% {
    clip-path: circle(125%);
    background: linear-gradient(355deg, $primaire-color, $secondaire-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
}
