body {
  overflow: auto;
  animation: hide-scroll 3s backwards;
  @keyframes hide-scroll {
    from,
    to {
      overflow: hidden;
    }
  }
}

.loader {
  position: fixed;
  border: 10px solid $background-light-color; /* Light grey */
  border-top: 10px solid $primaire-color;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
  animation: spin 2s forwards;
}

.load {
  animation: fadeInFromNone 3s ease-out;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  70% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: rotate(360deg);
    opacity: 1;
  }
  60% {
    transform: rotate(720deg);
    opacity: 1;
  }
  99% {
    transform: rotate(1080deg);
    opacity: 1;
  }
  100% {
    transform: rotate(1080deg);
    opacity: 0;
    display: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    top: -30px;
  }
  20% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: -30px;
  }
}

@keyframes movein {
  0% {
    transform: translateX(59px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(59px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes gradient {
  0% {
    clip-path: circle(0%);
    background: linear-gradient(355deg, $primaire-color, $secondaire-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  100% {
    clip-path: circle(125%);
    background: linear-gradient(355deg, $primaire-color, $secondaire-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
}
