@mixin card-shadow($down: 4px) {
    box-shadow: 0 $down 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin hover-effect {
    transition: all 0.1s ease-in-out;
    &:hover {
      @include card-shadow(6px);
      transform: translate3d(0, -2px, 0);
    }
    &:active {
        @include card-shadow(2px);
      transform: translate3d(0, 2px, 0);
    }
}

@mixin wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}