$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiaire-color: #99E2D0;
$background-color: #353535;
$background-light-color: #eaeaea;
$background-clear-color: #f6f6f6;
$span-color: #7e7e7e;
$clear_green: #99e2d0;
$dark_green: #008766;