{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
<!-- Menu -->
<section class="container--carte">
    <img src="{{ bakery.image.url }}" alt="photo du bakery">
    <div class="menu">
        <div class="menu__bakery">
            <h1 class="menu__title">{{ bakery.name }}
                {% for group in user.groups.all %}
                {% if group|stringformat:"s" == "Owner" %}
                    <a href="{% url 'bakery_edit' bakery_id=bakery.id %}"><span class="sr-only">Edit</span><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'bakery_delete' bakery_id=bakery.id %}"><span class="sr-only">Delete</span><i class="fa-solid fa-trash"></i></a>
                {% endif %}
                {% endfor %}
            </h1>

            <!-- Like for user -->
            {% if user.is_authenticated %}
            <div class="menu__like like-bakery">
                {% if request.user in bakery.likes.all %}
                <i class="fas fa-heart card__like-btn card__like-btn--active"></i>
                {% else %}
                <i class="far fa-heart card__like-btn"></i> 
                {% endif %}
            </div>
            {% endif %}

        </div>
        <div class="menu__info">
            <div class="menu__city">Located in {{ bakery.city }} - <span id="likes">{{ bakery.number_of_likes }}</span> likes</div>
            <div class="menu__description">{{ bakery.description }}</div>
        </div>
        {% if request.user == bakery.creator %}
        <div class="menu__column">
            <h2>Owners Corner</h2>
            <!-- Add item for owner -->
            <form class="pastry-form" method="PUT" id="pastry-form">
                <legend>Add some new pastry</legend>
                <div class="pastry-form__group">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn" type="submit"><span class="sr-only">Add item</span><i class="fa-solid fa-plus"></i></button>
                </div>
            </form>
        </div>
        {% endif %}
        <div class="menu__column">
            <h2>Pastries</h2>
            <ul id="pastry-list" class="dishes-list">
                {% for pastry in bakery.pastries.all %}
                <li class="dishes-list__item">
                    {% if request.user == bakery.creator %}
                    <button class="dishes-list__delete-item delete-pastry" id="delete-{{ pastry.pastry_id }}">
                        <span class="sr-only">Delete item</span><i class="fas fa-trash"></i>
                    </button>
                    {% endif %}
                    <div class="dishes-list__content">
                        <div>{{ pastry.item }}</div>
                        <div class="dishes-list__price">{{ pastry.price }} €</div>
                    </div>
                    {% if user.is_authenticated %}
                    <button class="dishes-list__button addToCart-pastry" id="addToCart-{{ pastry.pastry_id }}">
                        <span class="sr-only">Add to cart</span><i class="fas fa-shopping-cart"></i>
                    </button>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}