{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
{% if message %}
{{ message }}
{% else %}
<div class="container container--form">
    <form class="form" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <h2 class="form__title">Register a bakery</h2>

        {% for input in form %}
        <div class="form-group">
            <label for="{{ input.id_for_label }}">{{ input.label }}:</label>
            {{ input }}
        </div>
        {% endfor %}


        <div class="form-group form-group--button">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>
{% endif %}
{% endblock %}