{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ bakery.name }}</h1>
    {% if request.user == bakery.creator %}
        <form action="{% url 'bakery_edit' bakery_id=bakery.id %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Edit">
        </form>

        <form action="{% url 'bakery_delete' bakery_id=bakery.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endif %}
    <button type="button" id="like-bakery">{% if request.user in bakery.likes.all %}Unlike{% else %}Like{% endif %}</button>
    <p>{{ bakery.city }}</p>
    <p>{{ bakery.description }}</p>
    <p>Likes: <span id="like">{{ bakery.number_of_likes }}</span></p>
    <h2>Items</h2>
    {% if request.user == bakery.creator %}
    <form method="PUT" id="pastry-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    <ul id=pastry-list>
        {% for pastry in bakery.pastries.all %}
        <li>{{ pastry }}
            {% if request.user == bakery.creator %}
            <button type="button" class="delete-pastry" id="delete-{{ pastry.pastry_id }}">Delete</button>
            {% endif %}
            <button type="button" class="addToCart-pastry" id="addToCart-{{ pastry.pastry_id }}">Add to cart</button>
        </li>
        {% endfor %}
    </ul>
{% endblock %}