{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
<!-- Menu -->
<section class="container--carte">
    <img src="{{ bakery.image.url }}" alt="photo du bakery">
    <div class="menu">
        <div class="menu__bakery">
            <h1 class="menu__title">{{ bakery.name }}</h1>
            <!-- Like for user -->
            {% if user.is_authenticated %}
            <div class="menu__like" id="like-bakery">
                {% if request.user in bakery.likes.all %}
                <i class="fas fa-heart card__like-btn card__like-btn--active"></i>
                {% else %}
                <i class="far fa-heart card__like-btn"></i> 
                {% endif %}
            </div>
            {% endif %}

        </div>
        <div class="menu__info">
            <div class="menu__city">Located in {{ bakery.city }} - <span id="likes">{{ bakery.number_of_likes }}</span> likes</div>
            <div class="menu__description">{{ bakery.description }}</div>
        </div>
        {% if request.user == bakery.creator %}
        <details class="menu__owner">
            <summary>Owners Corner</summary>
            <!-- Edit for owner -->
            <div class="menu__pastry-actions">
                <a class="btn" href="{% url 'bakery_edit' bakery_id=bakery.id %}">Edit backery</a>

                <form action="{% url 'bakery_delete' bakery_id=bakery.id %}" method="GET">
                    {% csrf_token %}
                    <label for="delete" hidden>Delete the backery</label>
                    <input class="btn btn--red" id="delete" type="submit" value="Delete backery">
                </form>
            </div>
            <!-- Add item for owner -->
            {% if request.user == bakery.creator %}
            <form class="menu__pastry-form" method="PUT" id="pastry-form">
                <legend>Add some new pastry:</legend>
                {% csrf_token %}
                {{ form }}
                <input class="btn" type="submit" value="Add item">
            </form>
            {% endif %}
        </details>
        {% endif %}
        <div class="menu__column">
            <h2>Pastries</h2>
            <ul id="pastry-list" class="dishes-list">
                {% for pastry in bakery.pastries.all %}
                <li class="dishes-list__item">
                    {% if request.user == bakery.creator %}
                    <button class="dishes-list__delete-item delete-pastry" id="delete-{{ pastry.pastry_id }}">
                        <i class="fas fa-trash"></i>
                    </button>
                    {% endif %}
                    <div class="dishes-list__content">
                        <div>{{ pastry.item }}</div>
                        <div>{{ pastry.price }} €</div>
                    </div>
                    {% if user.is_authenticated %}
                    <button class="dishes-list__button addToCart-pastry" id="addToCart-{{ pastry.pastry_id }}">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}