{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
<section class="container">
  <h1 class="container__title">Shopping cart</h1>
  {% if message %}
  <div class="alert">{{ message }}</div>
  {% else %}

  <div class="cart-container">
    <div class="cart">
  
      <div class="cart-header">
        <div class="cart-header__item">
          <div>Item</div>
        </div>
        <div class="cart-header__info">
          <div>Quantity</div>
          <div>Price</div>
          <div>Total</div>
        </div>
      </div>
  
      <ul>
        {% for cart_item in cart_items %}
        <li class="cart-item">
          <div class="cart-item__item">
            <div class="cart-item__pastry">{{ cart_item.pastry.item }}</div>
            <a class="cart-item__bakery" href="{% url 'bakery' bakery_id=cart_item.pastry.bakery.id %}">{{ cart_item.pastry.bakery.name }}</a>
          </div>
          <div class="cart-item__info">
            <div class="cart-item__quantity">
              <select class="pastryQuantity" id="pastryQuantity-{{ cart_item.pastry.pastry_id }}">
                {% for i in '0123456789'|make_list %}
                <option value="{{ forloop.counter }}" {% if cart_item.quantity == forloop.counter %}selected{% endif %}>{{ forloop.counter }}</option>
                {% endfor %}
              </select>
              <button type="button" class="cart-item__delete" id="delete-{{ cart_item.line_id }}"><i class="fas fa-trash"></i></button>
            </div>
            <div class="cart-item__price" id="pastryPrice-{{ cart_item.pastry.pastry_id }}">{{cart_item.pastry.price}} €</div>
            <div class="cart-item__total" id="linePrice-{{ cart_item.pastry.pastry_id }}">{{ cart_item.getPrice }} €</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="order-summary">
      <h2 class="order-summary__title">Order Summary</h2>
      <div class="order-summary__cost">
        <div>Total price</div>
        <div class="order-summary__price">{{ cart_total_price }} €</div>
      </div>
      <form action="{% url 'place_order' %}" method="POST">
        {% csrf_token %}
        <label for="order" hidden>Checkout</label>
        <input class="btn" id="order" type="submit" value="Place order">
      </form>
    </div>

  </div>

  {% endif %}
</section>
{% endblock %}