{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
    <h2>My cart</h2>
    {% if message %}
    {{message}}
    {% else %}
  <ul>
    {% for cart_item in cart_items %}
    <li>{{ cart_item.pastry.bakery.name }} - {{ cart_item.pastry.item }} - 
      <select class="pastryQuantity" id="pastryQuantity-{{ cart_item.pastry.pastry_id }}">
        {% for i in '0123456789'|make_list %}
        <option value="{{ forloop.counter }}" {% if cart_item.quantity == forloop.counter %}selected{% endif %}>{{ forloop.counter }}</option>
        {% endfor %}
      </select>
      - <span id="pastryPrice-{{ cart_item.pastry.pastry_id }}">{{cart_item.pastry.price}} €</span>
      - <span id="linePrice-{{ cart_item.pastry.pastry_id }}">{{ cart_item.getPrice }} €</span>
      <button type="button" class="delete-item" id="delete-{{ cart_item.line_id }}">Delete</button></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}