{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
<!-- Bakeries -->
<section class="container container--bakerys">
  <a id="bakerys"></a>
  <h1 class="container__title">Bakeries</h1>
  <div class="grid">
    {% for bakery in bakeries %}
    <figure class="card">
      <img class="card__img" src="{{ bakery.image.url }}" alt="bakery figure">
      <figcaption class="card__caption">
        <a class="card__link" href="{% url 'bakery' bakery_id=bakery.id %}">
          <h2 class="card__title">{{ bakery }}</h2>
          <p class="card__location">{{ bakery.city }} - <span id="likes-{{ bakery.id }}">{{ bakery.number_of_likes }}</span> likes</p>
        </a>
        {% if user.is_authenticated %}
        <div class="card__like like-bakery" id="like-{{ bakery.id }}">
          {% if request.user in bakery.likes.all %}
          <i class="fas fa-heart card__like-btn card__like-btn--active"></i>
          {% else %}
          <i class="far fa-heart card__like-btn"></i> 
          {% endif %}
        </div>
        {% endif %}
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</section>
{% endblock %}