{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{% block title %}Boulange{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&family=Shrikhand&display=swap"
      rel="stylesheet">
    <script src="https://kit.fontawesome.com/a76bab607b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    
    <link type="text/css" href="{% static 'boulange/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <h1 class="header__title"><a href="{% url 'index' %}">Boulange</a></h1>

      <ul class="header__list">
        {% if user.is_authenticated %}
        <li class="header__elements">
          <a class="nav-link" href="{% url 'cart' %}"><span class="sr-only">Shopping cart</span><i class="fa-solid fa-cart-shopping"></i> <span class="cart-quantity"></span></a>
        </li>
        <li class="header__elements">
          <a class="nav-link" href="{% url 'user' %}"><span class="sr-only">User account</span><i class="fa-solid fa-user"></i></a>
        </li>
        <li class="header__elements">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="header__elements">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="header__elements">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
      </ul>

    </header>
    <!-- Main -->
    <main>
      {% block body %} {% endblock %}
      <script type="module" src="{% static 'boulange/main.js' %}"></script>
    </main>
    <!-- Footer -->
  <footer class="footer">
    <div class="footer__logo">Boulange</div>
    <ul class="footer__social">
      <li class="footer__social-item">
        <i class="fa-brands fa-square-facebook"></i>
      </li>
      <li class="footer__social-item">
        <i class="fa-brands fa-instagram"></i>
      </li>
      <li class="footer__social-item">
        <i class="fa-brands fa-square-twitter"></i>
      </li>
      <li class="footer__social-item">
        <i class="fa-brands fa-square-pinterest"></i>
      </li>
    </ul>
  </footer>
  </body>
</html>
