{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{% block title %}Boulange{% endblock %}</title>
    <link type="text/css" href="{% static 'boulange/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1><a href="{% url 'index' %}">Boulange</a></h1>
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li>User {{ user.username }}</li>
      {% for group in user.groups.all %}
        {% if group|stringformat:"s" == "Owner" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bakery_new' %}">Add a bakery</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
    </ul>

    {% block body %} {% endblock %}
    <script type="module" src="{% static 'boulange/main.js' %}"></script>
  </body>
</html>
