{% extends "boulange/layout.html" %} {% block body %}

<div class="container container--form">
  {% if message %}
      <div class="alert">{{ message }}</div>
  {% endif %}
  <form class="form" action="{% url 'register' %}" method="post">
    {% csrf_token %}

    <h2 class="form__title">Register</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        class="form-control"
        autofocus
        type="text"
        id="username"
        name="username"
        placeholder="John D."
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        placeholder="johnd@youhou.mm"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        name="password"
        placeholder="********"
        required
      />
    </div>
    <div class="form-group">
      <label for="confirmation">Confirm password</label>
      <input
        class="form-control"
        type="password"
        id="confirmation"
        name="confirmation"
        placeholder="********"
        required
      />
    </div>
    <div class="form-group form-group--checkbox">
      <label>If you own a bakery, check this <input class="form-control" type="checkbox" name="group"/></label>
    </div>
    <div class="form-group form-group--button">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
    <div>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
  
  </form>
</div>
{% endblock %}
