{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
<!-- User -->
<section class="container">
    <h1 class="container__title">User</h1>
    {% if message %}
    <div class="alert">{{ message }}</div>
    {% else %}
    <div class="user">
        <div>{{ user.username }}</div>
        <div>{{ user.first_name }}</div>
        <div>{{ user.last_name }}</div>
        <div>{{ user.email }}</div>
        <div>Bakeries you like:</div>
        {% for bakery in user.likes.all %}
            <div>{{ bakery }}</div>
        {% endfor %}
        {% if user.groups.all.0|stringformat:"s" == "Owner" %}
        <div>{{ user.groups.all.0 }} of bakeries</div>
        {% endif %}
        <div>last login {{ user.last_login }}</div>
    </div>
    {% endif %}
</section>
{% endblock %}