{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
<!-- User -->
<section class="container">
    <h1 class="container__title">User</h1>
    {% if message %}
    <div class="alert">{{ message }}</div>
    {% else %}
    <div class="card user">
        <div class="user__header">
            <div class="user__image">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="user__content">
            <div class="user__name">{{ user.username }}</div>
            <div class="user__lastlogin">last login {{ user.last_login }}</div>
            {% for group in user.groups.all %}
            {% if group|stringformat:"s" == "Owner" %}
            <div class="user-bakeries">
                <div class="user-bakeries__title">Your backeries</div>
                <ul class="user-bakeries__bakeries">
                {% for bakery in user.bakeries.all %}
                    <li class="user-bakeries__bakery">
                        <a href="{% url 'bakery' bakery_id=bakery.id %}">{{ bakery }}</a>
                    </li>
                {% endfor %}
                </ul>
                <a class="btn" href="{% url 'bakery_new' %}">Register a new bakery</a>
            </div>
            {% endif %}
            {% endfor %}
            <div class="user-bakeries">
                <div class="user-bakeries__title">Bakeries you like</div>
                <ul class="user-bakeries__bakeries">
                {% for bakery in user.likes.all %}
                    <li class="user-bakeries__bakery">
                        <a class="" href="{% url 'bakery' bakery_id=bakery.id %}">{{ bakery }}</a>
                    </li>
                    {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}