{% extends "boulange/layout.html" %}
{% load static %}

{% block body %}
<!-- User -->
<section class="container">
    <h1 class="container__title">User</h1>
    {% if message %}
    <div class="alert">{{ message }}</div>
    {% else %}
    <div class="card user">
        <div class="user__header">
            <div class="user__image">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="user__content">
            <div class="user__name">{{ user.username }}</div>
            <div class="user__lastlogin">last login {{ user.last_login }}</div>
            <div>{{ user.email }}</div>
            {% if user.groups.all.0|stringformat:"s" == "Owner" %}
            <div>{{ user.groups.all.0 }} of bakeries</div>
            {% endif %}
            <div class="user__likes">Bakeries you like:</div>
            {% for bakery in user.likes.all %}
                <a class="" href="{% url 'bakery' bakery_id=bakery.id %}">
                    <div>{{ bakery }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}