.cart-container {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  @include card-shadow;

  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.cart {
  flex: 3;
  background-color: white;
  color: black;
  position: relative;
  padding: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: $span-color;
  padding-bottom: 5px;
  border-bottom: 1px solid $span-color;
  margin-bottom: 15px;
  @media (max-width: 599px) {
    display: none;
  }

  &__item {
    flex: 1;
  }

  &__info {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
}

.cart-item {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 599px) {
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    flex: 1;
    @media (max-width: 599px) {
      width: 100%;
      display: flex;
      gap: 10px;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__pastry {
    font-weight: 700;
  }

  &__bakery {
    color: $primaire-color;
  }

  &__delete {
    text-decoration: none;
    font-size: 0.9em;
    padding: 3px 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    background: $primaire-color;
    background: linear-gradient(355deg, $primaire-color, $secondaire-color);
    border: none;
    border-radius: 10px;

    &:active {
      transform: scale(110%);
    }
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      opacity: 90%;
    }
  }

  &__total {
    font-weight: 700;
  }
}

.order-summary {
  flex: 1;
  gap: 10px;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: $background-light-color;

  @media (max-width: 599px) {
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }
  
  &__cost {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
